<form method="post" action="/login">
  <h1>Přihlášení</h1>
  <input name="name" type="text" placeholder="Jméno">
  <input name="password" type="password" placeholder="Heslo">
  <button type="submit">Přihlásit se</button>
</form>
