<form method="post" action="/register">
  <h1>Registrace</h1>
  <input name="name" type="text" placeholder="Jméno">
  <input name="password" type="password" placeholder="Heslo">
  <button type="submit">Registrovat se</button>
</form>
