<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title id="title"><%= todo.title %></title>
	</head>
	<body>
		<div id="todo"><%- include('_todo') %></div>

		<hr />

		<a href="/">Zpět na seznam</a>
		<script>
			const ws = new WebSocket('ws://localhost:3000');

			ws.addEventListener('message', (ev) => {
				const data = JSON.parse(ev.data);
				if (data.type === 'todo') {
					const el = document.getElementById('todo');
					el.innerHTML = data.html;
					document.title = data.todo.title;
				}
				if (data.type === 'todoDelete') {
					const el = document.getElementById('todo');
					el.innerHTML = data.html;
				}
			});
		</script>
	</body>
</html>
